.place__image-container{
  max-width: 460px;
  min-width: 320px;
  grid-area: image;

}

@media screen and (max-width: 767px) {
  .place__image-container{
   padding-left: 5%;
  }
 }

 @media screen and (max-width: 510px) {
  .place__image-container{
   max-width: 510px;
   padding: 0;
  }
 }
