.photo-grid {
  padding-top: 92px;
  padding-bottom: 92px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 15px;
  margin: auto;
}
@media screen and (max-width: 1180px) {
  .photo-grid {
    width: 90%;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding-bottom: 88px;
    min-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin: 20% auto;
    width: 11.5% 90%;
    gap: 12px;
    min-width: 288px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
