.place__image {
    background-size: cover;
  object-position: center;
  padding-bottom: 100%;

}

/* @media screen and (max-width: 767px) {
  .place__title{
   width: 90%;
   margin: auto;
  }
 } */
