.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  z-index: 3;
  margin: auto;
  min-height: 24vw;
}

@media screen and (min-width: 1281px) {
  .cover__subtitle {
    min-height: 311px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    min-height: 24vw;
  }
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    min-height: 23vw;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 265px;
    min-height: 22vw;
    margin: 0 auto 0;
  }
}
